[submodule "brave-bin"]
	path = brave-bin
	url = https://aur.archlinux.org/brave-bin.git
[submodule "pane-fm-git"]
	path = pane-fm-git
	url = https://aur.archlinux.org/pane-fm-git.git
[submodule "pyenv-virtualenv"]
	path = pyenv-virtualenv
	url = https://aur.archlinux.org/pyenv-virtualenv.git
[submodule "swaynagmode"]
	path = swaynagmode
	url = https://aur.archlinux.org/swaynagmode.git
[submodule "wayback-x11"]
	path = wayback-x11
	url = https://aur.archlinux.org/wayback-x11.git
[submodule "nvim-packer-git"]
	path = nvim-packer-git
	url = https://aur.archlinux.org/nvim-packer-git.git
[submodule "pwvucontrol"]
	path = pwvucontrol
	url = https://aur.archlinux.org/pwvucontrol.git
[submodule "python-uinput"]
	path = python-uinput
	url = https://aur.archlinux.org/python-uinput.git
[submodule "sway-screenshot"]
	path = sway-screenshot
	url = https://aur.archlinux.org/sway-screenshot.git
[submodule "Youtube-playlist-shuffle"]
	path = Youtube-playlist-shuffle
	url = https://github.com/nknguyenhc/Youtube-playlist-shuffle.git
[submodule "bucklespring"]
	path = bucklespring
	url = https://github.com/zevv/bucklespring
[submodule "clipcascade-bin"]
	path = clipcascade-bin
	url = https://aur.archlinux.org/clipcascade-bin.git
[submodule "python-plyer"]
	path = python-plyer
	url = https://aur.archlinux.org/python-plyer.git
[submodule "python-aiortc"]
	path = python-aiortc
	url = https://aur.archlinux.org/python-aiortc.git
[submodule "python-aioice"]
	path = python-aioice
	url = https://aur.archlinux.org/python-aioice.git
[submodule "python-google-crc32c"]
	path = python-google-crc32c
	url = https://aur.archlinux.org/python-google-crc32c.git
[submodule "python-pylibsrtp"]
	path = python-pylibsrtp
	url = https://aur.archlinux.org/python-pylibsrtp.git
[submodule "google-crc32c"]
	path = google-crc32c
	url = https://aur.archlinux.org/google-crc32c.git
